<% include ./partials/header %>

<h1 class="leftAlignedHeading">User's Map</h1>

<container class="mapAndMapInfo">

  <!-- Creating a new map with one draggable pin that defaults to showing Toronto. -->
  <div id="map"></div>

  <!-- List of markers that user has created on this map. -->
  <div class="listOfMarkers">
    <h2>Locations</h2>
    <ul id="displayMapMarkers" class="list-group"></ul>
  </div>

</container>

<% include ./partials/footer %>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBB8Rzd9fg-Ef8JwpUWcyz9jCdXRSqJWCM&callback=initMap">
</script>

</body>
</html>