<% include ./partials/header %>

<h1 class="leftAlignedHeading">User's Map</h1>

<container class="mapAndMapInfo">

  <!-- Creating a new map with one draggable pin that defaults to showing Toronto. -->
  <div id="map"></div>

  <!-- List of markers that user has created on this map. -->
  <div class="listOfMarkers">
    <h2>Locations</h2>
    <ul id="displayMapMarkers" class="list-group"></ul>
  </div>

  <h1>
    <%= map.name %>
    <%= map.createdBy %>
  </h1>

  <% map.markers.forEach((marker) => { %>
    <div class="hiddenMarker">
      <div class="latitude"> <%= marker.latitude %> </div>
      <div class="longitude"> <%= marker.longitude %> </div>
    </div>
  <% }) %>

</container>

<!-- SAVE BUTTON THAT SHOULD EDIT EXISTING ENTRIES IN DATABASE  -->
<!-- <form method= action=>
  <input id="save" class="btn btn-primary btn-md" type="submit" value="Save">
</form> -->

<% include ./partials/footer %>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBB8Rzd9fg-Ef8JwpUWcyz9jCdXRSqJWCM&callback=initMap">
</script>

</body>
</html>
