<%- include ./partials/header %>

<div class="jumbotron">
  <h1 class="display-3">The world is your oyster.</h1>
  <p class="lead">
    Whether you want to plan a cross-continental trip or share your favorite neighborhood restaurants, My Maps makes it easy and fun.
  </p>
  <p class="lead">
    <a class="btn btn-info btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-info btn-lg" href="/login" role="button">Login</a>
  </p>
</div>

<main>
  <!-- Map thumbnails -->
  <section class="maps-list">
    <div class="row justify-content-center">
      <a href="maps/1">
        <div class="sample-maps">
          <h5>Map One Title</h5>
        </div>
      </a>
      <a href="maps/2">
        <div class="sample-maps">
          <h5>Map Two Title</h5>
        </div>
      </a>
      <a href="maps/3">
        <div class="sample-maps">
          <h5>Map Three Title</h5>
        </div>
      </a>
    </div>
    <div class="row justify-content-center">
      <a href="maps/4">
        <div class="sample-maps">
          <h5>Map Four Title</h5>
        </div>
      </a>
      <a href="maps/5">
        <div class="sample-maps">
          <h5>Map Five Title</h5>
        </div>
      </a>
      <a href="maps/6">
        <div class="sample-maps">
          <h5>Map Six Title</h5>
        </div>
      </a>
    </div>
  </section>

  <p id="result-address"></p>

</main>

    <h3>Google Maps Demo</h3>
    <div id="map" style="height: 800px; width: 60%;"></div>
    <!-- <div id="map" style="height: 400px; width: 100%;"></div> -->



<%- include ./partials/footer %>
<!-- MAKE SURE THE API IS BELOW THE FOOTER, OR ASYNC PROBLEMS MAKE IT NOT LOAD SOMETIMES -->

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBB8Rzd9fg-Ef8JwpUWcyz9jCdXRSqJWCM&callback=initMap"></script>

  </body>
</html>
