<% include ./partials/header %>

<div class="jumbotron">
  <h1 class="display-3">The world is your oyster.</h1>
  <p class="lead">
    Whether you want to plan a cross-continental trip or share your favorite neighborhood restaurants, My Maps makes it easy and fun.
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Register</a>
    <a class="btn btn-info btn-lg" href="#" role="button">Login</a>
  </p>
</div>

<main>
  <!-- Map thumbnails -->
  <section class="maps-list">
    <p align="center">1
    <p align="center">2
    <p align="center">3
    <p align="center">4
    <p align="center">5
    <p align="center">6
  </section>

</main>

    <h3>Google Maps Demo</h3>
    <div id="map" style="height: 800px; width: 60%;"></div>
    <!-- <div id="map" style="height: 400px; width: 100%;"></div> -->


    <script>placeMarker(toronto);</script>
    <!-- map dissapears when line above is removed -->

      function placeMarker(location) {
        marker = new google.maps.Marker({
          position: location,
          map: map,
          title: 'The 6ix',
          draggable: true
        });
      }

      placeMarker(toronto);
      }

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBISs3cUVbTHTGwQ380hxOT9J4E-GTMUJU&callback=initMap"
  ></script>

<% include ./partials/footer %>
