<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Week 4 Project</title>
    <link rel="stylesheet" href="/scripts/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
  </head>
<!--  -->
  <body>

    <div class="jumbotron" align="center">
      <h1> Welcome to Maps!</h1>
    </div>

    <div id="greeting">Hello, friends!</div>
<!--  -->

  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>

  <!--This script loads the API. The callback executes the initMap function after the API loads. 'async defer' allows the rest of the page to load while the map is loading. -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBISs3cUVbTHTGwQ380hxOT9J4E-GTMUJU&callback=initMap" type="text/javascript"
  ></script>

  </body>
</html>
