<% include ./partials/header %>

<div class="separate-from-navbar">
  <h1 align="center">Login</h1>
</div>

<div id="login-form" class="container" style="width: 30%">
  <div id="error-field"></div>
  <form action="/login" method="POST">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="userpassword">Password</label>
      <input type="password" class="form-control" id="userpassword" placeholder="Password" name="userpassword">
    </div>
    <button type="submit" class="btn btn-outline-info btn-md">Submit</button>
  </form>
</div>

<% include ./partials/footer %>

  </body>
</html>
