</main>

<h3>Google Maps Demo</h3>
<div id="map" style="height: 400px; width: 50%;"></div>

<script>placeMarker(toronto);</script>
<!-- map dissapears when line above is removed -->

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBISs3cUVbTHTGwQ380hxOT9J4E-GTMUJU&callback=initMap"
></script>