<%- include ./partials/header %>

<h2 class="page-header">Create A New Map</h2>

<container class="mapAndMapInfo">

  <!-- Creating a new map with one draggable pin that defaults to showing Toronto. -->
  <div id="map"></div>

  <!-- List of markers that user has created on this map. -->
  <div class="listOfMarkers">
    <h2>My Locations</h2>
    <ul id="newMapMarkers" class="list-group"></ul>
  </div>

</container>

<!-- Button that will send a POST request to the database with all the marker info. -->
<form id="new-map-submission" method="POST" action="/maps">
  <input class="mapName" name="name" placeholder="Map Name" >
  <input id="save" class="btn btn-outline-info btn-md" type="submit" value="Save">
</form>


<% include ./partials/footer %>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBB8Rzd9fg-Ef8JwpUWcyz9jCdXRSqJWCM&callback=initMap">
</script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</body>
</html>
