<% include ./partials/header %>

<div class="container">

  <h1 class="username"><%= data.profile %></h1>

  <div class="half-container-div">
    <h2>Maps</h2>
    <%= data.profileMaps %>
  </div>

  <div class="half-container-div">
    <h2>Favorites</h2>
    <%= data.profileFavorites %>
  </div>

</div>

<% include ./partials/footer %>

</body>

</html>

<!-- Make containers scrollable. -->
