<% include ./partials/header %>

<div class="container">

  <img class="profilePic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/SNice.svg/220px-SNice.svg.png">
  <!-- (how can we have a profile picture  without the user uploading one? taken from tweeter db?) -->

  <h1 class="username">Username</h1>

</div>


<div class="container-fluid">

  <div class="threeEqualDivs">

    <p>Nullam tincidunt, arcu nec euismod commodo, nibh eros facilisis augue, sit amet iaculis arcu est eget arcu. Donec et fringilla orci. Nam porta mi vitae iaculis gravida. Curabitur vehicula eu eros a laoreet. Donec vehicula lectus eu suscipit sollicitudin. Aliquam id bibendum libero, a egestas ipsum. Vestibulum at velit neque.</p>
    <!-- (do they enter the bio when they register? maybe we should omit it? OR look into making the bio a form that is editable ON CLICK of an edit button!) -->

  </div>

  <div class="threeEqualDivs">

    <h2 class="sectionTitles">Maps</h2>

  </div>

  <div class="threeEqualDivs">

    <h2 class="sectionTitles">Favorites</h2>

  </div>

</div>

<% include ./partials/footer %>

</body>

</html>

<!-- Make containers scrollable. -->