#navcontainer {
  font-size: 15px;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;

  .user-ui {
    display: flex;
    flex-direction: row;
  }
}

.bg-light {
  background-color: lightblue !important;
}
