.leftAlignedHeading {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  position: relative;
  left: 2%;
}

.mapAndMapInfo {
  display: flex;

  #map {
  height: 400px;
  width: 65%;
  display: inline-block;
  }

  .listOfMarkers {
  height: 400px;
  width: 35%;
  display: inline-block;
  position: relative;
  background-color: #f2f2f2;
  overflow: scroll;

    h2 {
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 1.6rem;
      margin-top: 0.5rem;
    }
  }
}

#save {
  margin: 1rem;
}
