.map-info-hidden {
  display: none;
}

.page-header {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.9rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;


  .created-by {
  color: #666666;
  }
}


.leftAlignedHeading {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  position: relative;
  left: 2%;
}

.mapAndMapInfo {
  display: flex;

  #map {
  height: 400px;
  width: 65%;
  display: inline-block;
  }

  .listOfMarkers {
  height: 400px;
  width: 35%;
  display: inline-block;
  position: relative;
  background-color: #f2f2f2;
  overflow: scroll;

    h2 {
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 1.6rem;
      margin-top: 0.5rem;
    }
  }

  .hiddenMarker {
    display: none;
  }
}

.save-and-favorite-forms {
  display: inline-block;
}

.mapName {
  width: 25%;
  padding: 0.3rem;
  margin: 0.9rem 0 0 1rem;
  border-radius: 0.5rem;
  border: 1px solid #6666;
}

form.save-and-favorite-forms input {
  margin: 1rem 0 0 0.9rem;
}

form#new-map-submission input#save {
  margin: 0rem 0 0 0.25rem;
}

