.username {
  padding-top: 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-left: 1rem;
}

.twoEqualDivs {
  display: inline-grid;
  width: 45%;
  max-height: 30rem;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow: scroll;

  .sectionTitles {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.75rem;
    height: 1.75rem;
    text-align: center;
  }

}

