.username {
  padding-top: 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-left: 1rem;
}

.half-container-div {
  display: inline-grid;
  width: 45%;
  max-height: 30rem;
  margin-left: 1rem;
  margin-right: 1rem;

  .sectionTitles {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.75rem;
    height: 1.75rem;
    text-align: center;
  }

  a {
    text-decoration: none;
  }

  .list-map-item {
    height: 100px;
    background-color: #eee;
    margin-bottom: 8px;
    padding-top: 14px;

    h5 {
      color: black;
      text-align: center;
      margin-top: 1.2rem;
    }
  }

  .list-map-item:hover {
    background-color: #AED8E5;
  }

  .list-map-item:hover h5 {
    color: #256174;
  }
}
