@import 'navbar';
@import 'new-map';
@import 'register';
@import 'profile';

body {
  .jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: honeydew;
    height: 100%;
  }

  #greeting {
    font-size: 36px;
    display: flex;
  }

  .sample-maps {
    height: 6rem;
    width: 20rem;
    border: solid;
    display: inline-block;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 2rem;
  }

}

.separate-from-navbar {
  margin-top: 40px;
}

.markers-hidden {
  display: none;
}
