@import 'navbar';
@import 'new-map';
@import 'register';
@import 'profile';

body {
  .jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: honeydew;
    height: 100%;
  }

  #greeting {
    font-size: 36px;
    display: flex;
  }

}

.separate-from-navbar {
  margin-top: 40px;
}
